<p>product works!</p>
<h1>Product Component</h1>

<button type="button"   (click)="getAllProducts()" >Show All Products</button>
<input type="text" [(ngModel)]="searchName" placeholder="Search by name">
<button type="button" (click)="getProductByName(searchName)">Search</button>

<!-- <h1>{{productList | json}}</h1> -->

<div class="container  col-md-4">
<table  class="table table-dark">

<thead>
<tr><th>ID</th><th>NAME</th><th>PRICE</th></tr>
</thead>

<tr *ngFor="let product of  productList">
 <td>{{product.id}}</td><td>{{product.name}}</td><td>{{product.price}}</td> 
 <td><button type="button" class="btn btn-danger"   (click)="deleteById(product.id)">Delete</button></td> 

</tr>


</table>
</div>







